* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh !important;
}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    width: 80%;
}

.card-body .col-md-4 {
    align-items: center;
}

.italia-flag {
    position: absolute;
    width: 66px;
    height: 282px;
    bottom: -20px;
    right: 5%;
}