/* Grid Row Start 1 - 24 */

.grs-1 {
    grid-row-start: 1;
}

.grs-2 {
    grid-row-start: 2;
}

.grs-3 {
    grid-row-start: 3;
}

.grs-4 {
    grid-row-start: 4;
}

.grs-5 {
    grid-row-start: 5;
}

.grs-6 {
    grid-row-start: 6;
}

.grs-7 {
    grid-row-start: 7;
}

.grs-8 {
    grid-row-start: 8;
}

.grs-9 {
    grid-row-start: 9;
}

.grs-10 {
    grid-row-start: 10;
}

.grs-12 {
    grid-row-start: 12;
}

/* Grid Row End 1 - 24 */

.gre-1 {
    grid-row-end: 1;
}

.gre-2 {
    grid-row-end: 2;
}

.gre-3 {
    grid-row-end: 3;
}

.gre-4 {
    grid-row-end: 4;
}

.gre-5 {
    grid-row-end: 5;
}

.gre-6 {
    grid-row-end: 6;
}

.gre-7 {
    grid-row-end: 7;
}

.gre-8 {
    grid-row-end: 8;
}

.gre-9 {
    grid-row-end: 9;
}

.gre-10 {
    grid-row-end: 10;
}

.gre-12 {
    grid-row-end: 12;
}

/* Grid Column Start 1 - 24 */

.gcs-1 {
    grid-column-start: 1;
}

.gcs-2 {
    grid-column-start: 2;
}

.gcs-3 {
    grid-column-start: 3;
}

.gcs-4 {
    grid-column-start: 4;
}

.gcs-5 {
    grid-column-start: 5;
}

.gcs-6 {
    grid-column-start: 6;
}

.gcs-7 {
    grid-column-start: 7;
}

.gcs-8 {
    grid-column-start: 8;
}

.gcs-9 {
    grid-column-start: 9;
}

.gcs-10 {
    grid-column-start: 10;
}

.gcs-12 {
    grid-column-start: 12;
}

/* Grid Column End 1 - 24 */

.gce-1 {
    grid-column-end: 1;
}

.gce-2 {
    grid-column-end: 2;
}

.gce-3 {
    grid-column-end: 3;
}

.gce-4 {
    grid-column-end: 4;
}

.gce-5 {
    grid-column-end: 5;
}

.gce-6 {
    grid-column-end: 6;
}

.gce-7 {
    grid-column-end: 7;
}

.gce-8 {
    grid-column-end: 8;
}

.gce-9 {
    grid-column-end: 9;
}

.gce-10 {
    grid-column-end: 10;
}

.gce-12 {
    grid-column-end: 12;
}