.laluna--about {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card {
    box-shadow: none !important;
    transition: width ease .2s;
    width: 100vh;
}

.card-header {
    transition: all ease .2s;
    cursor: pointer;
}