* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Buffet Script";
    src: url("../types/Buffet\ Script.otf");
}

@media screen and (max-width: 600px) {
    .laluna {
        padding: 7rem 0 !important;
    }
    .laluna__body {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 992px) {
    .card--opening-times, .card--social {
        margin-bottom: 1.5rem !important;
    }
    .card--contact .card-body {
        flex-wrap: wrap !important;
    }
    .card--contact .col-lg-6+.col-lg-6 {
        margin-top: 1.5rem;
    }
}

:root {
    --black: #1a120c;
    --blue: #286aab;
    --brown: #953e0c;
    --dough-white: #ffe4c4;
    --green: #1ebb33;
    --red: #bb2b1e;
    --sans-serif-font: "Lato", sans-serif;
    --serif-font: "Merriweather", serif;
    --white: whitesmoke;
    --wine-red: brown;
    --wine-red-trans: #160207ec;
    font-size: 13px;
}

.shrink-out {
    opacity: 0;
    transform: scale(.5) !important;
}

body {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background: url("/images/lalunatable2blurreddark.png") no-repeat center center fixed;
    background-size: cover;
    font-family: var(--sans-serif-font);
    height: 100%;
    position: relative;
}

.laluna {
    height: 100%;
    padding: 7rem;
}

.scroll-button {
    bottom: 5%;
    position: fixed;
    right: 40px;
    transform: scale(1.5);
    transition: transform .2s ease, opacity .2s ease;
    z-index: 999;
}

.laluna__navbar {
    background-color: var(--wine-red-trans);
    color: var(--dough-white) !important;
    left: 0;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbar-brand {
    color: var(--dough-white);
    font-family: "Buffet Script";
    text-decoration: none;
}

.navbar-brand:hover {
    color: var(--dough-white);
}

.navbar-toggler .fas {
    color: var(--dough-white);
}

.navbar-collapse {
    margin-left: 40px;
    padding: 0em;
}

.nav-item {
    margin-right: 5px;
    overflow: hidden;
    padding: .25em 1em;
    position: relative;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item.dropdown .fa-caret-down {}

.nav-item::before {
    background-color: var(--dough-white);
    bottom: 0;
    content: "";
    height: 6%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 94%;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform .3s ease-out, opacity .3s ease-out;
    z-index: -1;
}

.nav-item:hover.nav-item::before, .nav-item.active::before {
    opacity: 1;
    transform: scaleX(1);
}

.nav-link span {
    color: var(--dough-white);
}

.nav-link .fas {
    margin-right: 10px;
}

.laluna__header {
    align-items: center;
    color: var(--dough-white);
    display: flex;
    height: 60vh;
    justify-content: center;
    text-align: center;
    text-shadow: 0px 0px 5px #000000;
    width: 100%;
}

.laluna__header .row {
    margin-top: 0 !important;
}

.laluna__header .title {
    font-family: "Buffet Script", serif;
}

.laluna__header .title h1 {
    font-size: 6rem;
}

.laluna__header .title h2 {
    font-size: 3rem;
}

.laluna__header .subtitle {
    font-family: var(--serif-font);
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.laluna__header hr {
    border-color: var(--wine-red);
}

.laluna__body {
    font-family: var(--sans-serif-font);
    font-size: 1.3rem;
    margin-bottom: 14rem;
}

[class*="carousel-control-"] {
    transition: background-color .2s ease;
}

[class*="carousel-control-"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#pictures-carousel .carousel-item {
    height: 550px;
}

.carousel-item img {
    object-fit: cover;
    margin: auto 0;
}

.card {
    transition: backround-color .2s ease;
}

.card:not([class*="bg-"]) {
    -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--dough-white) !important;
    border: 1px solid var(--dough-white);
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);
    color: var(--wine-red);
}

.card .card {
    box-shadow: none;
}

.card-header {
    align-items: center;
    display: flex;
    font-family: var(--serif-font) !important;
    font-weight: 700;
    justify-content: space-between;
}

.card-header .fas {
    margin-right: 10px;
}

.card-header a {
    font-size: .7em;
}

.card--news .card-body {
    align-items: center;
    background-color: var(--wine-red);
    color: var(--dough-white);
    display: flex;
    font-family: "Merriweather", serif;
    padding-left: 3em;
    padding-right: 3em;
}

.card--news .card-body p {
    width: 100%;
}

.card--news .card-body p span {
    float: right;
}

.card--season .card-body {
    font-family: "Merriweather", serif;
}

.card--opening-times {
    height: 325px;
}

.card--opening-times .card-body {
    text-align: center;
}

.card--opening-times .card-title {
    border: 1px solid var(--dough-white);
    border-radius: .25rem;
    font-weight: 700;
    padding: 15px;
    transition: color .3s ease, background-color .3s ease;
}

.card--opening-times .card-title:hover {
    background-color: var(--dough-white);
}

.bg-success .card-title:hover {
    color: #52682e;
}

.bg-warning .card-title:hover {
    color: orangered;
}

.bg-danger .card-title:hover {
    color: var(--red);
}

.card--opening-times table {
    width: 100%;
}

.card--opening-times th {
    font-size: 1.1em;
}

.card--approach {
    height: 325px;
}

.card--approach .card-maps {
    align-items: stretch;
    display: flex;
    width: 100%;
    height: 100%;
}

.card--approach .card-maps iframe {
    min-height: 100%;
}

.card--approach .route-planning-icon {
    margin-left: 5px;
}

.card--social-body {
    border-radius: 0 0 .25rem .25rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card--social .social-split {
    overflow: hidden;
    width: 100%;
}

.card--social .social-link {
    color: var(--dough-white);
    cursor: pointer;
    font-size: 1.75em;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: transform .2s ease;
    width: 100%;
}

.card--social .social-link:hover {
    transform: scale(1.25);
}

.card--social .social-link--fb {
    background-color: #4267B2;
}

.card--social .social-link--yelp {
    background-color: #d32323;
}

.card--social .social-link--google {
    background-color: #2361d3;
}

.card--contact .card-body {
    display: flex;
    padding: 0;
}

.card--contact .contact-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    position: relative;
    width: 100%;
}

.contact-item .fas {
    align-items: center;
    background-color: var(--wine-red);
    color: var(--dough-white);
    display: flex;
    height: 100%;
    padding-left: 30px;
    position: absolute;
    transition: width .3s ease;
    width: 75px;
}

.contact-item a {
    color: var(--red);
    margin-left: 75px;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease;
    width: 100%;
    z-index: 1;
}

.row {
    align-items: center;
}

.contact-item:hover .fas {
    width: 100%;
}

.contact-item:hover a {
    color: var(--dough-white);
}

.laluna__sidebar {
    background-color: var(--wine-red-trans);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
}

.sidebar__header {
    background-color: var(--dough-white);
    height: 300px;
}

.sidebar__header img {
    height: 100%;
}

.laluna__footer {
    background-color: #000000ca;
    bottom: 0;
    color: var(--dough-white);
    left: 0;
    padding: 4% 16%;
    position: absolute;
    width: 100%;
}

.laluna__footer [class^="col"] {
    display: flex;
    flex-direction: column;
}